<div>
  <mat-toolbar>
   
    <mat-icon> filter_vintage </mat-icon>
    <span style="margin-left: 1%;">Welcome to Dairy Farm</span>
    <span class="example-spacer"></span>
  
    <button
      class="c1btn"
      style="color: rgb(0, 0, 0); cursor: pointer; "
      routerLink="/login"
    >
      Continue to Log In
    </button>
    

    <button
      class="c1btn"
      style="color: rgb(0, 0, 0); cursor: pointer; margin-top: 3%; margin-right: 3%;"
      routerLink="/signup"
    >
      Continue Sign Up
    </button>
  </mat-toolbar>
</div>
