<!-- <app-header> </app-header>
<app-main></app-main>
<app-about></app-about>
<app-content></app-content>
<app-footer></app-footer> -->

<!-- <app-signup></app-signup> -->
<!-- <app-login></app-login> -->

<app-dashboard></app-dashboard>
<!-- <app-society></app-society> -->

<!-- <app-customer></app-customer> -->

<!-- <app-customer-table></app-customer-table> -->

<!-- <app-daily-sales></app-daily-sales> -->

<!-- <app-society></app-society> -->

<!-- <app-daily-customers></app-daily-customers> -->

<!-- <app-societyform></app-societyform> -->
<!-- <app-analysis-report></app-analysis-report> -->

<!-- <app-reportdashboard></app-reportdashboard> -->
