<button mat-icon-button style="float: right; margin: 5px" matDialogClose>
  <mat-icon>close</mat-icon>
</button>
<mat-dialog-content class="qwerty">
  <header>
    <h2>Delete Client</h2>
    <mat-divider></mat-divider>
    <br />
  </header>
  <div>
    <p>Are you sure you want to delete</p>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary">Delete</button>
  <button mat-raised-button color="warn" matDialogClose>Cancel</button>
</mat-dialog-actions>
