<!-- <div class="main">
  <h1>About Us</h1>
  <div class="content">
    <div class="ctext">
      
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, eum. Hic a
        facilis autem, beatae, debitis nihil rerum, cumque molestias sapiente
        soluta qui nobis iusto tempore consequatur dolore saepe reiciendis. Eos
        provident minus aliquam incidunt hic cum, veritatis odio iure odit fuga
        accusamus possimus eveniet autem aliquid sunt doloremque temporibus.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla
        possimus, incidunt sapiente quidem facere, totam quo quam minus rem
        blanditiis. Eveniet voluptates dicta impedit sequi voluptatibus culpa
        dolor veritatis! Lorem ipsum dolor sit amet consectetur adipisicing
        elit.
      </p>
      <p class="p3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad excepturi
        libero deleniti amet, consequuntur explicabo aliquam repudiandae,
        eligendi consectetur nemo voluptatem adipisci perspiciatis. Provident
        assumenda est dolores dignissimos incidunt doloribus! Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Non esse explicabo aut eveniet
        nobis error alias consequuntur amet, cupiditate nostrum mollitia dolorem
        ullam quia atque, repellat sit pariatur tenetur soluta!
      </p>
    </div>

    <div class="cimg">
      <img
        src="https://cdn.dribbble.com/userupload/7204331/file/original-4e9c4629005b4739b5a68e087e527202.png?resize=1200x900"
        alt="Your image is not Loaded"
      />
    </div>
  </div>
</div> -->

<!-- About Start -->
<!-- <div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-end">
      <div class="col-lg-6">
        <div class="row g-2">
          <div class="col-6 position-relative wow fadeIn" data-wow-delay="0.7s">
            <div class="about-experience bg-secondary rounded">
              <h1 class="display-1 mb-0">25</h1>
              <small class="fs-5 fw-bold">Years Experience</small>
            </div>
          </div>
          <div class="col-6 wow fadeIn" data-wow-delay="0.1s">
            <img
              class="img-fluid rounded"
              src="https://cdn.pixabay.com/photo/2018/01/17/23/41/cow-3089259_1280.jpg"
            />
          </div>
          <div class="col-6 wow fadeIn" data-wow-delay="0.3s">
            <img
              class="img-fluid rounded"
              src="https://cdn.pixabay.com/photo/2018/01/17/23/41/cow-3089259_1280.jpg"
            />
          </div>
          <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
            <img
              class="img-fluid rounded"
              src="https://cdn.pixabay.com/photo/2018/01/17/23/41/cow-3089259_1280.jpg"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <p class="section-title bg-white text-start text-primary pe-3">
          About Us
        </p>
        <h1 class="mb-4">Know About Our Dairy Farm & Our History</h1>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo magna dolore erat amet
        </p>
        <div class="row g-5 pt-2 mb-5">
          <div class="col-sm-6">
            <img class="img-fluid mb-4" src="img/service.png" alt="" />
            <h5 class="mb-3">Dedicated Services</h5>
            <span
              >Clita erat ipsum et lorem et sit, sed stet lorem sit clita</span
            >
          </div>
          <div class="col-sm-6">
            <img class="img-fluid mb-4" src="img/product.png" alt="" />
            <h5 class="mb-3">Organic Products</h5>
            <span
              >Clita erat ipsum et lorem et sit, sed stet lorem sit clita</span
            >
          </div>
        </div>
        <a class="btn btn-secondary rounded-pill py-3 px-5" href=""
          >Explore More</a
        >
      </div>
    </div>
  </div>
</div> -->
<!-- About End -->

<!-- Features Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class="section-title bg-white text-start text-primary pe-3">
          Why Us!
        </p>
        <h1 class="mb-4">Few Reasons Why People Choosing Us!</h1>
        <p class="mb-4">
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo magna dolore erat amet
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Justo magna erat amet
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Aliqu diam amet diam et
          eos
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Clita erat ipsum et lorem
          et sit
        </p>
      </div>
      <div class="col-lg-6">
        <div class="rounded overflow-hidden">
          <div class="row g-0">
            <div>
              <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="text-center bg-primary py-5 px-4">
                  <img
                    class="img-fluid mb-4"
                    src="http://127.0.0.1:5500/dairy-website-template/dairy-website-template/img/experience.png"
                    alt=""
                  />
                  <h1 class="display-6 text-white" data-toggle="counter-up">
                    25
                  </h1>
                  <span class="fs-5 fw-semi-bold text-secondary"
                    >Years Experience</span
                  >
                </div>
              </div>
            </div>

            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
              <div class="text-center bg-secondary py-5 px-4">
                <img
                  class="img-fluid mb-4"
                  src="http://127.0.0.1:5500/dairy-website-template/dairy-website-template/img/award.png"
                  alt=""
                />
                <h1 class="display-6" data-toggle="counter-up">183</h1>
                <span class="fs-5 fw-semi-bold text-primary"
                  >Award Winning</span
                >
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
              <div class="text-center bg-secondary py-5 px-4">
                <img
                  class="img-fluid mb-4"
                  src="http://127.0.0.1:5500/dairy-website-template/dairy-website-template/img/animal.png"
                  alt=""
                />
                <h1 class="display-6" data-toggle="counter-up">2619</h1>
                <span class="fs-5 fw-semi-bold text-primary"
                  >Total Animals</span
                >
              </div>
            </div>
            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
              <div class="text-center bg-primary py-5 px-4">
                <img
                  class="img-fluid mb-4"
                  src="http://127.0.0.1:5500/dairy-website-template/dairy-website-template/img/client.png"
                  alt=""
                />
                <h1 class="display-6 text-white" data-toggle="counter-up">
                  51940
                </h1>
                <span class="fs-5 fw-semi-bold text-secondary"
                  >Happy Clients</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Features End -->
