<mat-toolbar class="toolbar">
    <mat-icon> filter_vintage </mat-icon>
  <span style="margin-left: 1%;"><b> Dairy Farm </b></span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button> -->

    <mat-icon> local_florist </mat-icon>
  <span class="profile_name dropdown-toggle">Home Page</span>
  <!-- <button mat-stroked-button class="toolbar_btn">
        Sign-Out
        </button> -->
</mat-toolbar>

<!-- <app-dashboard></app-dashboard> -->